@font-face {
  font-family: "Pretendard";
  src: url("@/assets/fonts/Pretendard-Black.woff2") format("woff2");
}

@font-face {
  font-family: "Pretendard";
  src: url("@/assets/fonts/Pretendard-Thin.woff2") format("woff2");
  font-weight: 100;
}

@font-face {
  font-family: "Pretendard";
  src: url("@/assets/fonts/Pretendard-Light.woff2") format("woff2");
  font-weight: 200;
}

@font-face {
  font-family: "Pretendard";
  src: url("@/assets/fonts/Pretendard-ExtraLight.woff2") format("woff2");
  font-weight: 300;
}

@font-face {
  font-family: "Pretendard";
  src: url("@/assets/fonts/Pretendard-Regular.woff2") format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: "Pretendard";
  src: url("@/assets/fonts/Pretendard-Medium.woff2") format("woff2");
  font-weight: 500;
}

@font-face {
  font-family: "Pretendard";
  src: url("@/assets/fonts/Pretendard-SemiBold.woff2") format("woff2");
  font-weight: 600;
}

@font-face {
  font-family: "Pretendard";
  src: url("@/assets/fonts/Pretendard-Bold.woff2") format("woff2");
  font-weight: 700;
}

@font-face {
  font-family: "Pretendard";
  src: url("@/assets/fonts/Pretendard-ExtraBold.woff2") format("woff2");
  font-weight: 800;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Pretendard", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: $lomin-deep-black;
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;

  a {
    text-decoration: none;
    color: $d4;
  }
}
