// Lomin Colors
$lomin-deep-orange: #f34a00;
$lomin-deep-black: #191213;

// Point Colors
$point-blue: #6779d7;
$point-peacook: #47adb5;
$point-red: #ff7777;
$point-yellow: #ffa425;
$point-purple: #bda6ff;
$point-gray1: #bdbdbd;
$point-gray2: #e0e0e0;

// Etc Colors
$d1: #fafcff;
$d2: #f2f5fa;
$d3: #eaf0fb;
$d4: #bab9d1;
$d5: #5b5a81;
